<h1>Edit Assignment</h1>

<%= form_for(@assignment, :url => {:action => :update, :controller => :assignments}) do |f| %>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.text_field :score %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div> <br>

  <div class="actions">
    <%= f.submit "Save changes" %>
  </div>
<% end %><br>


<%= link_to 'Back', index_assignments_path %>