<h1><%=@assignment.name %></h1>
<table>
  <thead>
  <tr>
    <th>Assignment</th>
    <th>Score</th>
    <th>Notes</th>
  </tr>
  </thead>

      <tr>
        <td><%=@assignment.name %></td>
        <td><%=@assignment.score %></td>
        <td><%=@assignment.notes %></td>
      </tr>

</table>  

<%= link_to 'Back', index_assignments_path %>
<%= link_to 'Edit', edit_assignments_path(:assignment => @assignment.id) %>