<h1><%=@student.firstname %> <%=@student.lastname %></h1>
<table>
  <thead>
  <tr>
    <th>Class Number</th>
    <th>Grade</th>
    <th>Notes</th>
  </tr>
  </thead>

      <tr>
        <td><%=@student.classno %></td>
        <td><%=@student.grade %></td>
        <td><%=@student.notes %></td>
      </tr>

</table>