<h1><%=@student.firstname %> <%=@student.lastname %></h1>
<table>
  <thead>
  <tr>
    <th>Class Number</th>
    <th>Grade</th>
    <th>Notes</th>
  </tr>
  </thead>

      <tr>
        <td><%=@student.classno %></td>
        <td><%=@student.grade %></td>
        <td><%=@student.notes %></td>
      </tr>

</table>  

<h3>data from the parent record</h3>
<%= @student.firstname%>
<p>Here is data from all the detail records that match: <%=@join_list%></p>

<%= link_to 'Back', students_path %>
<%= link_to 'Edit', edit_path(:student => @student.id) %>