
<%= form_for(@student, :url => {:action => :new_students, :controller => :courses}) do |f| %>

<%#= hidden_field_tag :course_id, @course.id %>


  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.text_field :grade %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div><br>
<%= link_to 'Add Photo', new_photos_path %><br>
  <div class="actions"><br>
    <%= f.submit %>
  </div>
<% end %>
