<!DOCTYPE html>
<html>
<head>
  <title>iSchool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="http://code.highcharts.com/highcharts.js"></script>
  
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  
</head>
<body>
<<<<<<< HEAD
	<%#so this next part gives us a sign out button if we are logged in. If we are not logged in, there is a sign up and sign out button. %>


=======
	
>>>>>>> 726cec383f2eccbcd3d71951e13fae0430b955ed
<div>
  <nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">iSchool</a>

        <!--<img alt="iSchool" src="http://i.imgur.com/BXctogn.png"</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#section1">Home</a></li>
        <li><a href="#section2">About</a></li>
        <li><a href="#section2">Contact Us</a></li>
      </ul>
     
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<<<<<<< HEAD
=======

>>>>>>> 726cec383f2eccbcd3d71951e13fae0430b955ed
  


</div>



    <% if current_user %>
  <div class ="signups">
    	Welcome <%= current_user.email %> <br> <%= link_to "Sign out", sessions_path, method: :delete %>
  </div>
    <% else %>
   <div class="but1">
      <%= button_to "Teacher Sign Up", new_user_path, method: :get %>
    </div>
    <div class="but2">
      <%= button_to "Teacher Log In", new_session_path, method: :get %>
    </div>
  	<% end %>


<%= yield %>


</body>
</html>
